rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // notice 페이지 권한
    // 인증 없이 누구나 읽을 수 있음
    match /notice/{document=**} {
      allow read;
    }
    // 관리자만 글 생성, 수정, 삭제 가능
    match /notice/{noticeId} {
			allow create, update, delete: if request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2";
    }
    // 이메일 인증이 완료된 사용자는 댓글 생성 및 자신의 댓글만 삭제 가능, 관리자는 모든 댓글 삭제 가능
    match /notice/{noticeId}/comments/{commentId} {
      allow create: if request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    
    // premium 페이지 권한
    match /premium/{document=**} {
      allow read;
    }
    match /premium/{premiumId} {
			allow create, update, delete: if request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2";
    }
    match /premium/{premiumId}/comments/{commentId} {
      allow create: if exists(/databases/$(database)/documents/premium/$(premiumId)) && request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    
    // special 페이지 권한
    match /special/{document=**} {
      allow read;
    }
    match /special/{specialId} {
			allow create, update, delete: if request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2";
    }
    match /special/{specialId}/comments/{commentId} {
      allow create: if exists(/databases/$(database)/documents/special/$(specialId)) && request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    
    // others 페이지 권한
    match /others/{document=**} {
      allow read;
    }
    match /others/{othersId} {
			allow create, update, delete: if request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2";
    }
    match /others/{othersId}/comments/{commentId} {
      allow create: if exists(/databases/$(database)/documents/others/$(othersId)) && request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    
    // comments 페이지 권한
    match /comments/{document=**} {
      allow read;
    }
    // 이메일 인증이 완료된 사용자는 글 생성 가능, 자신의 글만 수정, 삭제 가능
    match /comments/{commentsId} {
			allow create: if request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
      allow write: if request.time > resource.data.lastUpdateTime + duration.value(5, 'm');
    }
    match /comments/{commentsId}/comments/{commentId} {
      allow create: if exists(/databases/$(database)/documents/comments/$(commentsId)) && request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    
    // inquiry 페이지 권한
    match /inquiry/{document=**} {
      allow read;
    }
    match /inquiry/{inquiryId} {
			allow create: if request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    match /inquiry/{inquiryId}/comments/{commentId} {
      allow create: if exists(/databases/$(database)/documents/inquiry/$(inquiryId)) && request.auth != null && request.auth.token.email_verified == true;
      allow update, delete: if request.auth != null && request.auth.token.email_verified == true && (request.auth.uid == resource.data.authorID || request.auth.uid == "twz9x2SgElgzdPQhBH1VDujDIqw2");
    }
    
  }
}