

.so_special {
    background-color: red;
}

@media (min-width: 576px)  {
    .so_special {
        background-color: pink;

    }
}

@media (min-width: 768px)  {
    .so_special {
        background-color: white;

    }
}

@media (min-width: 992px)  {
    .so_special {
        background-color: skyblue;
    }
}

@media (min-width: 1200px)  {
    .so_special {
        background-color: blue;
    }
}