
body {
    background-color: red;
}



/* 커라젤용 css 높이를 49vw로 한 이유가 xl 전환될때 자연스럽게 됨 */
.carousel__css{
    height: 49vw;
}


@media (min-width: 576px)  {
    body {
        background-color: pink;
    }

}


@media (min-width: 768px)  {
    body {
        background-color: white;
    }
    
    .disappear {
        display: flex !important;
    }

    .footer_display {
        display: inline !important;
    }

}


@media (min-width: 992px)  {
    body {
        
    }

    .showing__cosmetic {
        display: none !important;
    }

}


@media (min-width: 1200px)  {
    body {
        
    }

    .carousel__css{
        height: 587px;
    }

    .cssShapeBox_disappear{
        display: block !important;
    }

    .after_appear_cssShapeBox{
        text-align: right !important;
        background-color: transparent !important;
        border: transparent !important;
    }

    .br__appear {
        display: block !important;
    }


}


@media (min-width: 2001px) {
    .carousel__css{
        object-fit: contain;
        background-repeat: repeat-x;
        background-position-x: center;
    }

    .first_carousel {
        background-image: url('./components/Home_Components/Home_Image/suvin01.png');
    }

    .second_carousel {
        background-image: url('./components/Home_Components/Home_Image/suvin02.png');
    }

    .headerBG__css {
        object-fit: contain; 
        background-image: url('./components/header_sub_bg.png');
        background-repeat: repeat-x;
        background-position-x: center;
        
    }
}


/*
    display flex로 방향지정, justify-content: center로 가로방향 중앙정렬, align-items: center로 세로방향 중앙정렬 후
    width height 100%로 해서 늘리기
    MDBMask 에 flex-center 지워버리고 직접 조정했음
*/
.home__intro {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home__notice {
    color: snow;
}

.home__noticeTitle {
    color: snow;
}

.home__noticeText {
    color: snow;
}


.home__contact {
    color: snow;
    line-height: 2vw;
}

.home__contactTitle {
    color: snow;
    font-size:4vw;
}

.home__contactText {
    color: snow;
    font-size: 1vmin;
}



/*사이드 네비게이션 용 css*/
.active.sideNavComponent {
    background-color: #7f304e !important;
    color: white !important;
    border-radius: 0px;
}